annotated-types
anyio
certifi
click
colorama
dnspython
email_validator
fastapi
fastapi-cli
h11
httpcore
httptools
httpx
idna
Jinja2
markdown-it-py
MarkupSafe
mdurl
motor
pydantic
pydantic-settings
pydantic_core
Pygments
pymongo
python-dotenv
python-multipart
PyYAML
rich
shellingham
sniffio
starlette
typer
typing_extensions
uvicorn
watchfiles
websockets
python-jose
passlib
cloudinary
tabula-py
pdfplumber
PyPDF2
aiofiles
opencv-python
mediapipe
scikit-learn
bcrypt
